<!DOCTYPE html>
<html lang="ko">
<% include layout/head %>

<body>
    <% include layout/nav %>
    <div class="container">
        <div class="row mt-4">
            <div class="col-10 offset-1">
                <div class="card">
                    <div class="card-header bg-info text-light">
                        <h4><%= date %> 날짜의 메뉴</h4>
                    </div>
                    <div class="card-body">
                        <p><%= data %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>