<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>점심메뉴</title>
</head>
<body>
    <h1>점심을 보고 싶은 날짜를 선택하세요</h1>
    <form action="/lunch" method="post">
        <input type="date" name="date">
        <input type="submit" value="보기">
    </form>
</body>
</html>