<!DOCTYPE html>
<html lang="ko">
<% include layout/head %>

<body>
    <% include layout/nav %>

    <div class="container">
        <div class="row mt-4">
            <div class="col-10 offset-1">
                <div class="jumbotron">
                    <h1><%= title %></h1>
                    <p class="lead">사이트는 심플한 Express 사이트입니다.</p>
                    <hr class="my-4">
                    <p>뭔가 채워야하는데 너무 귀찮아요</p>

                    <div class="d-flex justify-content-end">
                        <a href="/lunch" class="btn btn-primary btn-lg">급식보기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>